html, body { height:100%; }
html { display:table; width:100%; }
body { display:table-cell; text-align:center; vertical-align:middle; }
.flex-container { display: flex; }
.flex-child { flex: 1; padding: 10px; }
.flex-child:first-child { margin-right: 10px; text-align: right; }
.flex-child:nth-child(2) { text-align: left; }
#home-button { float: left; border: 1px black solid; padding: 5px; position: absolute; left: 1px; top: 1px; }