<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name='author' content='Adam Glover'>
    <title>Transform</title>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"><link/>
</head>

<body>
    <div id="home-button">
        <a href="{{ url_for('upload_file') }}">Home</a>
    </div>

    <h1>Transform:</h1>

    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <p style="color: red; font-weight: bold;">{{ message }}</p>
        {% endfor %}
    {% endwith %}

    <table style="margin: 0 auto;">
        <tr>
            <th>Function</th>
            <th>Field</th>
            <th>Value(s)</th>
            <th></th>
        </tr>
        <tr>
            <td>
                <select name="transforms" id="transforms" style="width:150px">
                    {% for transform in transforms %}
                        <option value="'{{ transform }}'">{{ transform }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select name="fields" id="fields" style="width:150px">
                    {% for field in fields %}
                        <option value="'{{ field }}'">{{ field }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <input type="text" id="values" style="width:150px">
            </td>
            <td>
                <button type="button" onclick="add()">Add</button>
            </td>
        </tr>
    </table>

    <div class="flex-container">
        <div class="flex-child">
            <h2>Transformations</h2>
            <textarea rows="30" cols="50" wrap="off" id="transform-area" style="resize: none;" form="convert-form" name="transform-area"></textarea>

        </div>

        <div class="flex-child">
            <h2>Preview <button type="button" onclick="update()">Update ↻</button></h2>
            <textarea rows="30" cols="50" readonly wrap="off" id="preview-area" style="resize: none;">{{ preview }}</textarea>
        </div>
    </div>

    <h2>Convert To:</h2>

    <form method=post enctype=multipart/form-data id="convert-form">
        {% for write_type in write_types %}
            <input type="checkbox" class="write_types" name="{{ write_type }}" checked="checked"/>
            <label for="{{ write_type }}">{{ write_type }}</label>
            {% if loop.index % 4 == 0 %}
                <br>
            {% endif %}
        {% endfor %}
        <br>
        <input type=submit value=Convert>
    </form>
</body>
</html>