<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset='UTF-8'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name='author' content='Adam Glover'>
	<title>Upload</title>

	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"><link/>
</head>

<body>
	<div id="home-button">
        <a href="{{ url_for('upload_file') }}">Home</a>
    </div>
	<h1>File Transformation Service</h1>
	<div>
		{% with messages = get_flashed_messages() %}
			{% for message in messages %}
				<p style="color: red; font-weight: bold;">{{ message }}</p>
			{% endfor %}
		{% endwith %}

		<h2>Upload File</h2>
		<p> Currently supported inputs: {% for f_type in types %} {{ f_type }}, {% endfor %} </p>
		<form method=post enctype=multipart/form-data>
		  <input type=file name=file>
		  <input type=submit value=Upload>
		</form>
	</div>
</body>
</html>